<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376978686960-81alfppkl8u7qgb4jkg66hdh204tbfo8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376978686960-81alfppkl8u7qgb4jkg66hdh204tbfo8</string>
	<key>API_KEY</key>
	<string>AIzaSyAX6w5yOJOl-eIkNEvlouFXXXaJ1cG3wF4</string>
	<key>GCM_SENDER_ID</key>
	<string>376978686960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vpbs.smartpro</string>
	<key>PROJECT_ID</key>
	<string>hocvanchihien-802fe</string>
	<key>STORAGE_BUCKET</key>
	<string>hocvanchihien-802fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376978686960:ios:f7c4e2582f98e5bc</string>
	<key>DATABASE_URL</key>
	<string>https://hocvanchihien-802fe.firebaseio.com</string>
</dict>
</plist>